- @documents = Firm.find(params[:id]).documents
- @notes = Firm.find(params[:id]).notes

= render partial: 'shared/toolbar'

.content
  .title
    %h1= @firm.firm_name
  .main
    .documents-container.mainwidth
      .tabs
        %p Documents
        %ul
          %li Recent
          %li All
      .container-box.mainwidth
        .widget
          = render partial: 'documents/widget'

    .documents-container.mainwidth
      .tabs
        %p Notes
        %ul
          %li Recent
          %li All
      .buttons.new
        %b= link_to 'new note', new_note_path
      .container-box.mainwidth
        .widget
          = render partial: 'notes/widget'
  .sidebar
    .documents-container.sidebarwidth
      .tabs
        %p Favorites
        %ul
          %li Yours
          %li Group
      .container-box.sidebarwidth
    .documents-container.sidebarwidth
      .tabs
        %p Account Detail
      .buttons.edit
        %b= link_to 'edit', edit_firm_path(@firm)
      .container-box.sidebarwidth
        = render partial: 'firms/detail'

    / %p#notice= notice


    / %p
    /   %b Document:
    /   = @firm.document_id

    / = link_to 'Edit', edit_firm_path(@firm)
    / \|
    / = link_to 'Back', firms_path
