- @documents = Firm.find(params[:id]).documents
= render partial: 'shared/toolbar'

.content
  .title
    %h1= @firm.firm_name
  .main
    .documents-container.mainwidth
      .tabs
        %p Documents
        %ul
          %li Recent
          %li All
      .container-box.mainwidth
        .widget
          = render partial: 'documents/widget'

    .documents-container.mainwidth
      .tabs
        %p Notes
        %ul
          %li Recent
          %li All
      .container-box.mainwidth
  .sidebar
    .documents-container.sidebarwidth
      .tabs
        %p Favorites
        %ul
          %li Yours
          %li Group
      .container-box.sidebarwidth
    .documents-container.sidebarwidth
      .tabs
        %p Account Detail
      .container-box.sidebarwidth
        .detail
          %p
            %b Short Name:
            = @firm.short_name
          %p
            %b Firm Type:
            = @firm.firm_type
          %p
            %b Phone:
            = number_to_phone(@firm.phone)
          %p
            %b Fax:
            = number_to_phone(@firm.fax)
          %p
            %b Emergency:
            = number_to_phone(@firm.emergency_phone)
          %p
            %b Website:
            = @firm.website
          %p
            %b Status:
            = @firm.status

    / %p#notice= notice


    / %p
    /   %b Document:
    /   = @firm.document_id

    / = link_to 'Edit', edit_firm_path(@firm)
    / \|
    / = link_to 'Back', firms_path
