- @documents = Document.all
- @firms = Firm.all
- @notes = Note.all

.content
  .title
    %h1 UTRaCs Home
  .main
    .documents-container.mainwidth
      .tabs
        %p Documents
        %ul
          %li Recent
          %li All
        .buttons.view-all
          %b= link_to 'view all', documents_path
      .container-box.mainwidth
        = render partial: 'documents/widget'

    .documents-container.mainwidth
      .tabs
        %p Notes
        %ul
          %li Recent
          %li All
        .buttons.view-all
          %b= link_to 'view all', notes_path
      .container-box.mainwidth
        = render partial: 'notes/widget'
  .sidebar
    .documents-container.sidebarwidth
      .tabs
        %p Investments
        %ul
          %li Yours
          %li Group
      .container-box.sidebarwidth
        = render partial: 'firms/widget'

    .documents-container.sidebarwidth
      .tabs
        %p Emails
        %ul
          %li Yours
          %li Group
      .container-box.sidebarwidth

//launch elastic search with: elasticsearch -f -D es.config=/usr/local/Cellar/elasticsearch/0.18.7/config/elasticsearch.ym



