= form_tag documents_path, :method => :get, :id => "documents_search" do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil

#documents
  = render partial: 'documents/documents'

%br

= link_to 'New Document', new_document_path
