%h1 Listing documents

= search_form_for @q do |f|
  = f.text_field :fund_cont
  = f.submit

%table
  %tr
    %th Filename
    %th Document Type
    %th Firm
    %th Fund
    %th Month
    %th Year
    %th Group
    %th Investmentcat
    %th Url
    %th
    %th
    %th

  - @documents.each do |document|
    %tr
      %td= document.filename
      %td= document.documenttype
      %td= document.firm
      %td= document.fund
      %td= document.month
      %td= document.year
      %td= document.group
      %td= document.investmentcat
      %td= document.url
      %td= link_to 'Show', document
      %td= link_to 'Edit', edit_document_path(document)
      %td= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Document', new_document_path
